@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
    box-sizing: border-box;

  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;

    font-family: sans-serif;
    color: #000;
    font-weight: 300;
}

*, *::before, *::after {
    box-sizing: inherit;
}

body {
    display: block;
    margin: 0 auto;
    font-family: sans-serif;
    text-align: center;
}

.skip-links {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.skip-links a {
    position: absolute;
    top: -3em;
    padding: 0;
    background-color: #000;
    color: #fff;
    font-weight: bold;
    font-size: 1.25em;
    text-decoration: none;
}

.skip-links a:focus {
    top: 0;
}

.wordmark {
    position: absolute;
    left: 0em;
    height: 2em;
    margin-top: 1.5em;
    margin-left: 1em;
    margin-bottom: 1em;
}

.nav {
    display: none;
}

.toggle {
    position: absolute;
    height: 1.5em;
    margin-top: 1.5em;
    margin-right: 1.25em;
    right: 0em;
}

.toggle-panel {
    max-height: 0;
    overflow: hidden;
    transition: all 200ms linear;
}

.toggle-panel-expand {
    max-height: 5em;
}

.billboard {
    position: relative;
    background-image: url("../images/portrait-blue.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100%;
    overflow: hidden;
    z-index: -1;
}

.layer-billboard {
    background-color: rgba(255, 255, 255, 0.3);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.billboard-text {
    font-family: 'Poiret One', sans-serif;
    text-align: center;
    color: #000;
    text-transform: uppercase;
    font-size: 2.75em;
    position: relative;
    letter-spacing: .25em;
    margin: auto;
    width: 90%;
    border: 2px solid #000;
    top: 6.5em;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50);
    transform: translateY(-50%);
}

.about-section {
    padding-top: 1.75em;
    padding-left: 3em;
    padding-right: 3em;
}

.bio-title {
    color: #4d1620;
    font-size: 2.5em;
}

.bio-title {
    font-family: 'Poiret One', sans-serif;
    text-transform: uppercase;
    letter-spacing: 5px;
    text-align: center;
}

.bio {
    font-family: 'Raleway', sans-serif;
    line-height: 25px;
    padding-left: .5em;
    padding-right: .5em;
    padding-bottom: 1em;
}

.icons {
    display: inline-block;
    height: 15em;
    width: 100%;
    vertical-align: top;
}

.icon-caption {
    text-transform: uppercase;
    font-family: 'Raleway', sans-serif;
    padding-bottom: 2em;
    text-align: center;
    color: #797d82;
    letter-spacing: .1em;
}

.layer-portfolio-pieces {
    background-color: rgba(85, 156, 181, 0.5);
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.portfolio-piece {
    max-width: 100%;
    float: left;
}

.contact-section {
    background-image: url("../images/wood-background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    clear: both;
}

.contact-title {
    font-family: 'Poiret One', sans-serif;
    text-transform: uppercase;
    letter-spacing: .3em;
    text-align: center;
    color: #fff;
    margin-top: 1em;
    margin-bottom: 1em;
}

.email {
    font-family: 'Raleway', sans-serif;
    text-decoration: none;
    margin: auto;
    letter-spacing: .2em;
    font-size: 1em;
    color: #fff;
}

.sm-icon {
    margin-bottom: 1.25em;
    display: inline-block;
    width: 3.5em; 
    margin-left: .75em;
    margin-right: .75em;
}

.contact-icons {
    display: inline-block; 
    margin-top: 1em;
}

.footer-info {
    font-family: 'Raleway', sans-serif;
    color: #fff;
    background-image: url("../images/wood-background.jpg");
    overflow: hidden;
    text-align: center;
    font-size: .75em;
    padding-bottom: .5em;
}

@media only screen and (min-width: 30em) /* LANDSCAPE - MOBILE */ {
   
    .about-section {
        padding-left: 5em;
        padding-right: 5em;
    }
    
    .billboard-text {
        top: 4.25em;
    }

}

@media only screen and (min-width: 48em) /* TABLET */ {

    .wordmark {
        position: absolute;
        height: 3em;
        margin-top: 1.5em;
        margin-left: 1.5em;
    }
    
    .about-section {
        padding-left: 9em;
        padding-right: 9em;
    }
    
    .portfolio-piece {
        width: 50.0000%;
        display: inline-block;
        float: left;
    }
    
    .billboard-text {
        font-size: 4em;
        width: 70%;
        border: 2px solid #000;
        top: 8em;
        -webkit-transform: translateY(-50%);
        -moz-transform: translateY(-50);
        transform: translateY(-50%);
    }
    
    .skill-icons {
        max-width: 50.0000%;
        display: inline-block;
    }
    
    .skill-icons-placement {
        display: inline-block;
        position: relative;
        margin-left: auto;
        margin-right: auto;
    }
    
    .icons {
        padding-bottom: .25em;
        margin-right: .5em;
        height: 13em;
        width: 100%;
        vertical-align: top;
    }

    .icon-caption {
        text-transform: uppercase;
        font-family: 'Raleway', sans-serif;
        padding-bottom: 2em;
        text-align: center;
    }
}

@media only screen and (min-width: 60em) /* TABLET - LANDSCAPE */ {
    
    .billboard-text {
        font-size: 4em;
        width: 70%;
        border: 2px solid #000;
        top: 6em;
        -webkit-transform: translateY(-50%);
        -moz-transform: translateY(-50);
        transform: translateY(-50%);
    }  
}


@media only screen and (min-width: 72em) /* DESKTOP */ {
    
    .wordmark {
        position: absolute;
        height: 3.5em;
        margin-top: 1.5em;
        margin-left: 1.5em;
    }
    
    .billboard-text {
        top: 46em;
    }
    
    .about-section {
        padding-left: 16em;
        padding-right: 16em;
    }
    
    .portfolio-piece {
        max-width: 33.3333%;
        display: inline-block;
        float: left;
    }
    
    .nav {
        list-style-type: none;
        text-align: right;
        position: absolute;
        right: 0em;
        display: flex;
    }

    .nav li {
        font-family: 'Poiret One', sans-serif;
        text-transform: uppercase;
        letter-spacing: .2em;
        display: inline-block;
        text-decoration: none;
        padding-top: 1.1em;
        padding-right: 1.5em;
        margin: 0 auto;
    }

    .nav a,
    .nav a:link,
    .nav a:visited {
      display: block;
      color: #000;
      text-decoration: none;
    }

    .nav a:hover,
    .nav a:focus,
    .nav a:active,
    .nav .nav-current,
    .nav .nav-current:link,
    .nav .nav-current:visited {

      color: #8c6f4b;
    } 
    
    .toggle {
        display: none;
    } 
    
    .billboard-text {
        font-size: 5em;
        width: 60%;
        border: 2px solid #000;
        top: 5.25em;
        -webkit-transform: translateY(-50%);
        -moz-transform: translateY(-50);
        transform: translateY(-50%);
    }
    
    .skill-icons {
        max-width: 33.3333%;
        display: inline-block;
    }
    
    .icons {
        margin-bottom: .5em;
        height: 13em;
    }
}